{% extends 'base.html.twig' %}

{% block title %}Catégories - The District
{% endblock %}

{% block body %}
	<div id="entete_leg"></div>
	<div id="banniere_mobile"></div>
</header>
{% for categorie in categories %}
	{% if loop.index0 is divisible by(2) %}
		<a href="{{ path('app_plats_categorie', {id: categorie.id}) }}" class="text-decoration-none">
			<div id="{{ categorie.libelle }}" class="categorie_l d-flex mt-5">
				<img src="{{ asset('assets/images/category/' ~ categorie.image) }}" alt="{{ categorie.libelle }}" class="photo_cat object-fit-cover">
				<p class="texte_cat d-flex justify-content-center align-items-center">
					{{ categorie.libelle }}
				</p>
			</div>
		</a>
	{% else %}
		<a href="{{ path('app_plats_categorie', {id: categorie.id}) }}" class="text-decoration-none">
			<div id="{{ categorie.libelle }}" class="categorie_r d-flex mt-5">
				<p class="texte_cat d-flex justify-content-center align-items-center">
					{{ categorie.libelle }}
				</p>
				<img src="{{ asset('assets/images/category/' ~ categorie.image) }}" alt="{{ categorie.libelle }}" class="photo_cat object-fit-cover">
			</div>
		</a>
	{% endif %}
{% endfor %}{% endblock %}
